{% extends "basetemplate3.html" %}

{% block title %}

{% endblock %}

{% block content %}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Credit</h4>
            {% for field, errors in form.errors.items() %}
            {{ form[field].label }} {{ ', '.join(errors) }}
            </br>
            {% endfor %}
            <form class="forms-sample" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="exampleSelectGender">From account:</label>
                    {{ form.account(class="form-control p_input") }}
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Sum:</label>
                    {{ form.amount(class="form-control p_input", min="1") }}
                </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" value="Submit">Submit</button>
        <a href="/customer/{{customer.Id}}" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>


{% endblock %}