{% extends "basetemplate3.html" %}

{% block title %}
Alla kunder
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <h1 class="card-title" style="margin-top: 10px;">Customers:</h1>
            <form class="" style="margin-left: 200px;" method="get">
                <div class="form-group">
                    <div class="input-group" style="margin-top: 10px;;">
                        <input type="text" class="form-control" style="width: 500px;" placeholder="Search Customers"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" name="q" value="{{ q }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-md" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th>
                    Customer ID
                    <a href="/customers?sortColumn=id&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=id&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                    </a>
                </th>
                <th>
                    Firstname
                    <a href="/customers?sortColumn=fname&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=fname&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                    </a>
                </th>
                <th>
                    Lastname
                    <a href="/customers?sortColumn=lname&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=lname&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                </th>
                <th>
                    National ID
                    <a href="/customers?sortColumn=nid&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=nid&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                </th>
                <th>
                    Address
                    <a href="/customers?sortColumn=address&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=address&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                </th>
                <th>
                    City
                    <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                    </a>
                </th>
                <th>
                    <a type="button" href="/new_customer" class="btn btn-outline-secondary btn-md">Add new
                        customer</a>
                </th>
            </tr>
            {% for c in listOfCustomers %}
            <tr>
                <td>
                    {{ c.Id }}
                </td>
                <td>
                    {{ c.GivenName }}
                </td>
                <td>
                    {{ c.Surname }}
                </td>
                <td>
                    {{ c.NationalId }}
                </td>
                <td>
                    {{ c.Streetaddress }}
                </td>
                <td>
                    {{ c.City }}
                </td>
                <td>
                    <a href="/customer/{{ c.Id }}" class="btn">More info</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    {% if has_prev %}
                    <a class="btn"
                        href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Prev</a>
                    {% endif %}
                </td>
                <td></td>
                <td colspan="2" style="text-align: center;">Du är på sidan {{ page }} av totalt {{ pages }}</td>
                <td></td>
                <td>
                    {% if has_next %}
                    <a class="btn"
                        href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Next</a>
                    {% endif %}
                </td>
            </tr>
        </table>

    </div>
</div>

{% endblock %}