{% extends "basetemplate3.html" %}

{% block title %}
Alla kunder
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title" style="margin-top: 10px;">Customers:</h4>
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search nav-item w-50" method="get"
                style="padding-left: 250px; margin-bottom: 10px;">
                <input class="form-control" type="text" placeholder="Search Customers" name="q" value="{{ q }}">
                <input class="btn" type="submit" value="Sök">
            </form>
            <a type="button" href="/new_customer" class="btn btn-outline-secondary btn-md"
                style="height: fit-content; margin-left: 150px;">Add new
                customer</a>
        </div>
        <table class="table">
            <tr>
                <th>
                    Customer ID
                </th>
                <th>
                    Firstname
                    <a href="/customers?sortColumn=namn&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=namn&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                    </a>
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    National ID
                </th>
                <th>
                    Address
                </th>
                <th>
                    City
                    <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}">
                        <i class='mdi mdi-arrow-up'></i>
                    </a>
                    <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}">
                        <i class='mdi mdi-arrow-down'></i>
                    </a>
                </th>
            </tr>
            {% for c in listOfCustomers %}
            <tr>
                <td>
                    {{ c.Id }}
                </td>
                <td>
                    {{ c.GivenName }}
                </td>
                <td>
                    {{ c.Surname }}
                </td>
                <td>
                    {{ c.NationalId }}
                </td>
                <td>
                    {{ c.Streetaddress }}
                </td>
                <td>
                    {{ c.City }}
                </td>
                <td>
                    <a href="/customer/{{ c.Id }}" class="btn">More info</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    {% if has_prev %}
                    <a class="btn"
                        href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Prev</a>
                    {% endif %}
                </td>
                <td></td>
                <td colspan="2" style="text-align: center;">Du är på sidan {{ page }} av totalt {{ pages }}</td>
                <td></td>
                <td>
                    {% if has_next %}
                    <a class="btn"
                        href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Next</a>
                    {% endif %}
                </td>
            </tr>
        </table>

    </div>
</div>

{% endblock %}