{% extends "basetemplate3.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}

{% endblock %}


{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" style="text-align: center;">Uppdatera kund:</h2>
            <form method="post">
                {{ formen.csrf_token }}
                <p class="card-description"> Personal info </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.givenname, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.surname, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.birthday, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">National ID</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.nationalid, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone country code</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.phonecountrycode, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phonenumber</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.phonenumber, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Emailaddress</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.email, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description"> Address </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.streetaddress, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.city, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Zipcode</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.zipcode, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                {{ render_field(formen.country, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" value="Submit">Submit</button>
        <a href="/customer/{{ customer.Id }}" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>



{% endblock %}