{% extends "basetemplate3.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}

{% endblock %}


{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" style="text-align: center;">Ny kund:</h2>
            <form method="post">
                {{ form.csrf_token }}
                <p class="card-description"> Personal info </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                {{ render_field(form.givenname, class="form-control p_input", placeholder="Peter") }}
                                <!-- <input type="text" name="first_name" value="{{ request.form.first_name }}" required
                                    class="form-control p_input" placeholder="Peter" pattern="[A-Za-z]+" maxlength="30"
                                    minlength="2"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                {{ render_field(form.surname, class="form-control p_input", placeholder="Sherman") }}
                                <!-- <input type="text" name="last_name" value="{{ request.form.last_name }}" required
                                    class="form-control p_input" placeholder="Sherman" pattern="[A-Öa-ö]+"
                                    maxlength="30" minlength="2"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                {{ render_field(form.birthday, class="form-control p_input") }}
                                <!-- <input type="date" name="birth" value="{{ request.form.birth }}" required
                                    class="form-control p_input"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">National ID</label>
                            <div class="col-sm-9">
                                {{ render_field(form.nationalid, class="form-control p_input",
                                placeholder="19690227-4728") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone country code</label>
                            <div class="col-sm-9">
                                {{ render_field(form.phonecountrycode, class="form-control p_input", placeholder="61")
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phonenumber</label>
                            <div class="col-sm-9">
                                {{ render_field(form.phonenumber, class="form-control p_input",
                                placeholder="8012636123") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Emailaddress</label>
                            <div class="col-sm-9">
                                {{ render_field(form.email, class="form-control p_input",
                                placeholder="P-Sherman@findingnemo.com")
                                }}
                                <!-- <input type="email" name="email" value="{{ request.form.email }}" required
                                    class="form-control p_input" placeholder="P-Sherman@findingnemo.com"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description"> Address </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                {{ render_field(form.streetaddress, placeholder="Wallaby Way 42", class="form-control
                                p_input") }}
                                <!-- <input type="text" name="address" value="{{ request.form.address }}" required
                                    class="form-control p_input" placeholder="Wallaby Way 42"
                                    pattern="[A-Öa-ö]+ [0-9]+"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                {{ render_field(form.city, class="form-control p_input", placeholder="Sydney") }}
                                <!-- <input type="text" name="city" value="{{ request.form.city }}" required
                                    class="form-control p_input" placeholder="Sydney" pattern="[A-Öa-ö]+" minlength="2"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Zipcode</label>
                            <div class="col-sm-9">
                                {{ render_field(form.zipcode, class="form-control p_input", placeholder="66672") }}
                                <!-- <input type="text" name="zipcode" value="{{ request.form.zipcode }}" required
                                    class="form-control p_input" placeholder="66672" pattern="[0-9]{5}"> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                {{ render_field(form.country, class="form-control p_input") }}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" value="Submit">Submit</button>
        <a href="/customers" class="btn btn-dark">Cancel</a>
        <!-- <div class="text-center" style="margin-left: auto; margin-right: auto;">
                    <input class="btn btn-outline-secondary btn-md" type="submit" value="Submit">
                </div> -->
        </form>
    </div>
</div>



{% endblock %}