{% extends "basetemplate3.html" %}

{% block title %}

{% endblock %}


{% block content %}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" style="text-align: center;">Ny kund:</h2>
            {% for field, errors in form.errors.items() %}
            {{ form[field].label }} {{ ', '.join(errors) }}
            </br>
            {% endfor %}
            <form method="post">
                {{ form.csrf_token }}
                <p class="card-description"> Personal info </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                {{ form.givenname(class="form-control p_input", placeholder="Peter") }}
                                <!-- <input type="text" name="first_name" value="{{ request.form.first_name }}" required
                                    class="form-control p_input" placeholder="Peter" pattern="[A-Za-z]+" maxlength="30"
                                    minlength="2"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                {{ form.surname(class="form-control p_input", placeholder="Sherman") }}
                                <!-- <input type="text" name="last_name" value="{{ request.form.last_name }}" required
                                    class="form-control p_input" placeholder="Sherman" pattern="[A-Öa-ö]+"
                                    maxlength="30" minlength="2"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                                {{ form.birthday(class="form-control p_input") }}
                                <!-- <input type="date" name="birth" value="{{ request.form.birth }}" required
                                    class="form-control p_input"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">National ID</label>
                            <div class="col-sm-9">
                                {{ form.nationalid(class="form-control p_input", placeholder="19690227-4728") }}
                                <!-- <input type="text" name="national_id" value="{{ request.form.national_id }}" required
                                    class="form-control p_input" placeholder="19690227-4728"
                                    pattern="[0-9]{8}-[0-9]{4}"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone country code</label>
                            <div class="col-sm-9">
                                {{ form.phonecountrycode(class="form-control p_input", placeholder="61") }}
                                <!-- <input type="number" name="phone_code" value="{{ request.form.phone_code }}" required
                                    class="form-control p_input" placeholder="61" min="1" max="99"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phonenumber</label>
                            <div class="col-sm-9">
                                {{ form.phonenumber(class="form-control p_input", placeholder="8012636123") }}
                                <!-- <input type="text" name="phone_number" value="{{ request.form.phone_number }}" required
                                    class="form-control p_input" placeholder="8012636123" pattern="[0-9]{10}"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Emailaddress</label>
                            <div class="col-sm-9">
                                {{ form.email(class="form-control p_input", placeholder="P-Sherman@findingnemo.com")
                                }}
                                <!-- <input type="email" name="email" value="{{ request.form.email }}" required
                                    class="form-control p_input" placeholder="P-Sherman@findingnemo.com"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description"> Address </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                {{ form.streetaddress(class="form-control p_input", placeholder="Wallaby Way 42") }}
                                <!-- <input type="text" name="address" value="{{ request.form.address }}" required
                                    class="form-control p_input" placeholder="Wallaby Way 42"
                                    pattern="[A-Öa-ö]+ [0-9]+"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                {{ form.city(class="form-control p_input", placeholder="Sydney") }}
                                <!-- <input type="text" name="city" value="{{ request.form.city }}" required
                                    class="form-control p_input" placeholder="Sydney" pattern="[A-Öa-ö]+" minlength="2"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Zipcode</label>
                            <div class="col-sm-9">
                                {{ form.zipcode(class="form-control p_input", placeholder="66672") }}
                                <!-- <input type="text" name="zipcode" value="{{ request.form.zipcode }}" required
                                    class="form-control p_input" placeholder="66672" pattern="[0-9]{5}"> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                {{ form.country(class="form-control p_input") }}
                                <!-- <select class="form-control" name="country" value="{{ request.form.country }}" required>
                                    {% for c in countries %}
                                    <option>{{ c }}</option>
                                    {% endfor %}
                                </select> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin-left: auto; margin-right: auto;">
                    <input class="btn btn-outline-secondary btn-md" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}