{% extends "basetemplate3.html" %}

{% block title %}
Alla kunder
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Efternamn
                </th>
                <th>
                    Stad
                </th>
            </tr>
            {% for c in list_of_customers %}
            <tr>
                <td>
                    <a href="/customer/{{ c.get_id() }}">{{ c.get_name() }}</a>
                </td>
                <td>
                    {{ c.get_lastname() }}
                </td>
                <td>
                    {{ c.get_money() }}
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}