{% extends "basetemplate3.html" %}

{% block title %}

{% endblock %}

{% block content %}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Debit</h4>
            <form class="forms-sample" action="" method="post">
                <div class="form-group">
                    <label for="exampleSelectGender">From account:</label>
                    <select class="form-control" name="account" value="{{ request.form.account }}" required>
                        <option>{{ account.AccountType }}</option>
                        {% for a in accounts %}
                        {% if a.AccountType != account.AccountType %}
                        <option>{{ a.AccountType }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Sum:</label>
                    <input type="number" class="form-control" name="sum" value="{{ request.form.sum }}" required
                        placeholder="Sum" min="0">
                </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" value="Submit">Submit</button>
        <a href="/customer/{{customer.Id}}" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}