{% extends "basetemplate3.html" %}

{% block title %}

{% endblock %}

{% block content %}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Transfer</h4>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleSelectGender">From account:</label>
                    <select class="form-control" name="from_account" value="{{ request.form.from_account }}" required>
                        <option>{{ account.AccountType }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">To account:</label>
                    <select class="form-control" name="to_account" value="{{ request.form.to_account }}" required>
                        {% for a in accounts %}
                        {% if a.AccountType != account.AccountType %}
                        <option>{{ a.AccountType }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Sum:</label>
                    <input type="number" class="form-control" name="sum" value="{{ request.form.sum }}" required
                        placeholder="Sum" min="0">
                </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2" value="Submit">Submit</button>
        <a href="/customer/{{customer.Id}}" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}